<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>

<body class="logBody">
  <nav class="navbar navbar-default navbar-fixed-top" id="nav1">
    <div class="container-fluid">
      <!-- <p class="float-right"><a href="/login">Log in</a></p> -->
      <div class="navbar-header">
        <h3 id="f0">SCARLET <img id="ruLogo" src="http://content.sportslogos.net/logos/33/817/full/6853_rutgers_scarlet_knights-alternate-2001.png" alt="leaf" style="width:35px;">IDES</h3>

      </div>

    </div>
  </nav>
  <br><br><br><br><br>
  <div class="container" >

    <div class="row">

      <div class="col-md-4 col-md-offset-3" id="align-center">
        <h2 class= "fontHere">Login</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>

</body>
<footer class="page-footer center-on-small-only" id="foot2">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h2 id="footTitle">Scarlet Rides</h5>
                <p class="fonthere">Get rides from classmates, build a community, reduce carbon emissions.</p>
            </div>
            <!--/.First column-->


            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Rutgers Links and more!</h5>
                <ul>
                    <li><a href="http://www.rutgers.edu/">Visit Rutgers</a></li>
                    <li><a href="https://energy.gov/science-innovation/clean-energy">Dept. of Energy</a></li>
                    <li><a href="http://www.alumni.rutgers.edu/s/896/2016/interior.aspx?sid=896&gid=1&pgid=7687">RU Volunteering?</a></li>
                    <li><a href="https://bootcamp.rutgers.edu/">Rutgers Coding Bootcamp</a></li>
                </ul>
            </div>
            <!--/.Second column-->


            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">Rutgers links cont.</h5>
                <ul>
                    <li><a href="http://ruhungrynj.net/">RU Hungry?</a></li>
                    <li><a href="http://rutgersfuturebydevco.org/">Rutgers Future</a></li>
                    <li><a href="http://www.scarletknights.com/">Rutgers Athletics</a></li>
                    <li><a href="https://www.cs.rutgers.edu/">Rutgers Computer Science</a></li>
                </ul>
            </div>
            <!--/.Third column-->


            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title">Rutgers links cont.</h5>
                <ul>
                    <li><a href="https://www.youtube.com/user/Rutgers">Rutgers Youtube</a></li>
                    <li><a href="https://www.newark.rutgers.edu/">Rutgers Newark</a></li>
                    <li><a href="http://www.rutgers.edu/admissions">Rutgers Admissions</a></li>
                    <li><a href="http://www.rutgers.edu/academics">Rutgers Acedemics</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->



    <!--Call to action-->
    <div class="call-to-action" id="register">


                <h5>Register for free</h5></li>
            <a href="/" class="btn btn-danger">Sign up!</a></li>

    </div>
    <!--/.Call to action-->



    <!--Copyright-->
    <div class="footer-copyright">
        <div class="copyright">
            © 2017 Copyright: Michael Russo, Kiran Krishnasani </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
