<head>
  <title>Post Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>

<body class="logBody">
  <nav class="navbar navbar-default navbar-fixed-top" id="nav1">
    <div class="container">

      <div class="navbar-header">
        <h3 id="f0">SCARLET <img id="ruLogo" src="http://content.sportslogos.net/logos/33/817/full/6853_rutgers_scarlet_knights-alternate-2001.png" alt="leaf" style="width:35px;">IDES</h3>
        <a class="navbar-brand" href="/members">Menu</a>
        <a class="navbar-brand" href="/accountInfo">Account</a>
        <a class="navbar-brand" href="/post">Post a Ride</a>
        <a class="navbar-brand" href="/logout">Logout</a>
      </div>

    </div>
  </nav>
  <br><br><br><br><br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-3" id="align-left">
        <h2 class="fontHere">Post a ride...</h2>
        <form class="post">
          <div class="form-group">
            <label for="startCampus">Starting Campus</label>
            <select class="form-control" id="startCampus">
					    <option value="Busch">Busch</option>
					    <option value="Cook/Douglas">Cook/Douglas</option>
					    <option value="College Ave">College Ave</option>
              <option value="Livingston">Livingston</option>
  					</select>
          </div>
          <div class="form-group">
            <label for="endCampus">Ending Campus</label>
            <select class="form-control" id="endCampus">
					    <option value="Busch">Busch</option>
					    <option value="Cook/Douglas">Cook/Douglas</option>
					    <option value="College Ave">College Ave</option>
              <option value="Livingston">Livingston</option>
  					</select>
          </div>
          <div class="form-group">
            <label for="notes">Details/Notes</label>
            <input type="text" class="form-control" id="notes-input" placeholder="eg. Exact location details/preferences.">
          </div>
          <div class="form-group">
            <label for="timeFrame">When did you want to leave?</label>
            <input type="text" class="form-control" id="time-input" placeholder="eg. 4:30 PM">
          </div>

          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <input type="submit" value="Post your ride" class="btn btn-default"></input>
        </form>
        <br />

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/post.js"></script>

</body>
