<head>
  <title>Rideshare Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>

<body class="logBody2">
  <nav class="navbar navbar-default navbar-fixed-top" id="nav1">
    <div class="container">

      <div class="navbar-header">
        <h3 id="f0">SCARLET <img id="ruLogo" src="http://content.sportslogos.net/logos/33/817/full/6853_rutgers_scarlet_knights-alternate-2001.png" alt="leaf" style="width:35px;">IDES</h3>

      </div>

    </div>
  </nav>
  <nav class="navbar navbar-default" id="nav1">
    <div class="container">
      <div class="navbar-header">
        <br><br><br>
        <h1 id=f1>Get where you need to go on campus...</h1>
        <h1 id=f2>Reducing carbon emissions  <img src="http://www.fao.org/uploads/pics/leaf.png" alt="leaf" style="width:28px;">
        </h1>
          <br>

      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-3" id="signup-form">

        <form class="signup">
          <h2>Sign Up</h2><p class="float-right"><a id="login" href="/login">Sign in</a></p>
          <div class="form-group">

            <label for="Inputfirst">First Name</label>
            <input type="name" class="form-control" id="first-input" placeholder="First Name">

            <label for="InputLast">Last Name</label>
            <input type="name" class="form-control" id="last-input" placeholder="Last Name">

            <label for="InputAge">Age</label>
            <input type="age" class="form-control" id="age-input" placeholder="eg. 20">

            <label for="InputGender">Gender</label>
            <select class="form-control" id="gender_1">
					    <option value="Male">Male</option>
					    <option value="Female">Female</option>
					    <option value="Other">Other</option>
              <option value="Prefer not to say">Prefer not to say</option>
  					</select>
            <!-- <input type="gender" class="form-control" id="gender-input" placeholder="eg. male/female/other"> -->

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">

            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">

            <label for="exampleInputRuid1">Rutgers ID</label>
            <input type="ruid" class="form-control" id="ruid-input" placeholder="RUID">

            <label for="exampleInputPhone">Phone Number</label>
            <input type="phone" class="form-control" id="phone-input" placeholder="eg. 5558675309">

          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default btn-block">Sign Up</button>
        </form>
        <br />

      </div>
    </div>
  </div>
  <nav class="navbar navbar-default" id="nav1">
    <div class="container">

      <div class="navbar-header">


        <div row>

          <div class="col-md-3 col-md-offset-1">
            <br>
            <br>
            <br>
            <img src="http://www.fao.org/uploads/pics/leaf.png" alt="leaf" style="width:100px;">
            <div class="mission">
              <h4>A Cleaner Future</h4>
              <p>Our mission is to help you get to where you're going and reducing carbon emissions all at once!</p>
            </div>
            <br>
            <br>
            <br>
          </div>

          <div class="col-md-3 col-md-offset-1">
            <br>
            <br>
            <br>
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6020-200.png" alt="handshake" style="width:100px;">
            <div class="mission">
              <h4>Build Stronger Campuses</h4>
              <p>We feel that the kindness of a stranger can also be the start of a lasting friendship with your fellow students! Dive in and lend a hand to your less mobile student peers and strike up a conversation!</p>
            </div>
            <br>
            <br>
            <br>
          </div>

          <div class="col-md-3 col-md-offset-1">
            <br>
            <br>
            <br>
            <img src="http://vectorise.net/vectorworks/logos/Signs/download/Logo%20Caution.png" alt="caution" style="width:100px;">
            <br><br>
            <div class="mission">
              <h4>Use Caution</h4>
              <p>Take caution into your own hands and be sure youre traveling with a fellow student! In order to protect our students, we provide information based on age and gender in order for students to make their best choice of ride share partner!</p>
            </div>
            <br>
            <br>
            <br>
          </div>

        <div row>

      </div>

    </div>
  </nav>
  <nav class="navbar navbar-default" id="navBottom">
    <div class="container">

      <div class= "fonthere" class="navbar">

        <h3 style="text-align: center;">Connecting the campuses like never before!</h3>
        <div row>

          <div class="col-md-3">


            <br>
            <img class="campuses" src="http://slwordpress.rutgers.edu/residencelife/wp-content/uploads/sites/96/2016/06/NP_F15_TOWERS_IMG_4696-1600x700.jpg" alt="livingston" style="width:190px;">
            <br><br>
            <h4 class="fonthere campuses campus-title">Livingston Campus</h4>
            <p></p>
            <br>
            <br>

          </div>

          <div class="col-md-3">


            <br>
            <img class="campuses" src="http://rutgersfuturebydevco.org/download/images/content/sub/overlay_images/YardExterior2.jpg" alt="collegeAve" style="width:190px;">
            <h4 class="fonthere campuses campus-title">College Avenue Campus</h4>
            <p></p>
            <br>
            <br>

          </div>

          <div class="col-md-3">

            <br>
            <img class="campuses" src="https://c1.staticflickr.com/5/4094/5396145836_40059ff2b4_b.jpg" alt="CookDouglass" style="width:190px;">
            <h4 class="fonthere campuses campus-title">Cook/Douglass Campus</h4>
            <p></p>
            <br>
            <br>

          </div>

          <div class="col-md-3">

            <br>
            <img class="campuses" src="https://s-media-cache-ak0.pinimg.com/736x/07/7b/76/077b763abcecfc1997716d0e9556298e--courtyards-dorm.jpg" alt="busch" style="width:190px;">
            <h4  class="fonthere campuses campus-title">Busch Campus</h4>
            <p></p>
            <br>
            <br>

          </div>

        <div row>

      </div>

    </div>
  </nav>
  <nav class="navbar navbar-default" id="nav1">
    <div class="container">

      <div class="navbar-header">


        <div row>


          <div class="col-md-3 col-md-offset-6">
            <p class="map-text fonthere" >Each ride you take will record the ammount of carbon emissions saved from entering the environment. We then calculate the weekly,
              monthly, and yearly projections of the energy saved both on an individual level and across all of our users.</p>

            <br><br><br><br><br><br><br>
            <p class="map-text fonthere" >Furthermore, we intend on implimenting background checks upon signing up as a driver for all students to ensure the further safetly
              that we intend to provide.</p>
              <br><br><br><br><br>
              <p class="map-text fonthere" >Sincerely, the Scarlet Rides team!</p>





          </div>
          <div class="col-md-2">
            <img id="map" src="https://rutgers.myuvn.com/wp-content/uploads/sites/40/2016/10/RutgersMap.gif" alt="RutgersUniversity" style="width:270px;">

          </div>

        <div row>

      </div>

    </div>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/signup.js"></script>

</body>
<!--Footer-->
<footer class="page-footer center-on-small-only" id="foot1">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h2 id="footTitle">Scarlet Rides</h5>
                <p class="fonthere">Get rides from classmates, build a community, reduce carbon emissions.</p>
            </div>
            <!--/.First column-->


            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Rutgers Links and more!</h5>
                <ul>
                    <li><a href="http://www.rutgers.edu/">Visit Rutgers</a></li>
                    <li><a href="https://energy.gov/science-innovation/clean-energy">Dept. of Energy</a></li>
                    <li><a href="http://www.alumni.rutgers.edu/s/896/2016/interior.aspx?sid=896&gid=1&pgid=7687">RU Volunteering?</a></li>
                    <li><a href="https://bootcamp.rutgers.edu/">Rutgers Coding Bootcamp</a></li>
                </ul>
            </div>
            <!--/.Second column-->


            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">Rutgers links cont.</h5>
                <ul>
                    <li><a href="http://ruhungrynj.net/">RU Hungry?</a></li>
                    <li><a href="http://rutgersfuturebydevco.org/">Rutgers Future</a></li>
                    <li><a href="http://www.scarletknights.com/">Rutgers Athletics</a></li>
                    <li><a href="https://www.cs.rutgers.edu/">Rutgers Computer Science</a></li>
                </ul>
            </div>
            <!--/.Third column-->


            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title">Rutgers links cont.</h5>
                <ul>
                    <li><a href="https://www.youtube.com/user/Rutgers">Rutgers Youtube</a></li>
                    <li><a href="https://www.newark.rutgers.edu/">Rutgers Newark</a></li>
                    <li><a href="http://www.rutgers.edu/admissions">Rutgers Admissions</a></li>
                    <li><a href="http://www.rutgers.edu/academics">Rutgers Acedemics</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->


    <br><br>
    <!--Call to action-->
    <div class="call-to-action" id="register">


                <h5>Register for free</h5></li>
            <a href="/" class="btn btn-danger">Sign up!</a></li>

    </div>
    <!--/.Call to action-->


    <br><br>
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="copyright">
            © 2017 Copyright: Michael Russo, Kiran Krishnasamy </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
