form.signup,
form.login {
  margin-top: 50px;
}

html{
	position: relative;
	min-height: 100%;
}
body {
	background-image: url("../images/car.jpg");
	background-size: contain;
	background-position: static;
  position: static;
	margin-bottom: 60px;
}

.logBody{
  background-image: url("../images/car.jpg");
	background-size: cover;
	background-position: fixed;


	margin-bottom: 60px;
}

.memberBody{
  background-image: url("../images/campus.jpg");
	background-size: cover;
	background-position: fixed;


	margin-bottom: 60px;
}

#signup-form {
  background-color: #f8f8f8;
  margin: 1%;
}

#nav1{
  background-color: white;
  border-color: white;
  margin-bottom: 0px;
}

#navBottom{
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 10%;
}
#f0{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 200 !important;
}

#f1{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  position: relative;
  left:82px;
  font-weight: 100 !important;
}

#f2{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  position: relative;
  left: 83px;
  font-weight: 120 !important;
  margin-top:-11px;
}

#ruLogo{
  vertical-align: text-bottom;

}

#foot1{
  background-color: #cc0033;
  color: #fff;


}
footer.page-footer a {
    color: #fff;
}

#footTitle{
  color: #fff;
}

.fontHere{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 200 !important;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 0px solid #eeeeee;
}

#register{
  margin-left:45%;
}

#login{
  color: black;
  position: absolute;
  right: 9%;
  top: 10%;
}

#map{
  position: relative;
  left: 800%;
  margin: 50px;
}

.map-text{
 position: absolute;
 left:25%;
 width: 300px;
 margin: 50px;
}

.campuses{
  position: absolute;
  margin: 18%;
}

.campus-title{
  top: -27px;
}

.ride-form{
  background-color: #f8f8f8;
  margin:20px;
  padding:20px;
  position: relative;
  left: -4%;

}

#foot2{
    background-color: #cc0033;
    color: #fff;
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

#title-left{
  position: relative;
  left: 30%;
}

#navbarwhite{
  background-color: white;
  border-color: white;
}

.selected-form{
    background-color: #f8f8f8;
    margin: 20px;
    padding: 20px;
    position: relative;
    left: 0%;
}

#menu-left{
  position:absolute;
  margin: 0px;
  right: 47%;
}

.a-black{
  color:black;
}

#cancelbtn{
  float: right;

}

#confirmbtn{
  float: right;
}

#driver-info{
  margin-top:20px;

  background-color: white;
}

#align-left{
  position: absolute;
  left: -25%;
  background-color: white;
}

.ridesFixed{
  background-size: contain;
  background-color: #f8f8f8;
  background-image: url("../images/grey.png");
}

#align-center{
  position: absolute;
  background-color: white;
  left: 10%;
}

#menuOptions{
  position: absolute;
  background-color: white;
  left: 19%;
  top: 23%;
}

.absolute{
  position:absolute;

}
