form.signup,
form.login {
  margin-top: 50px;
}

html{
	position: relative;
	min-height: 100%;
}
body {
	background-image: url("../images/car.jpg");
	background-size: contain;
	background-position: static;
  position: static;
	margin-bottom: 60px;
  background-repeat: no-repeat;
}

.logBody{
  background-image: url("../images/college.jpg");
	background-size: cover;
	background-position: fixed;
  background-repeat: no-repeat;

	margin-bottom: 60px;
}

.memberBody{
  background-image: url("../images/campus.jpg");
	background-size: cover;
	background-position: fixed;
  background-repeat: no-repeat;

	margin-bottom: 60px;
}

#signup-form {
  background-color: #f8f8f8;
  margin: 1%;
}

#nav1{
  background-color: white;
  border-color: white;
  margin-bottom: 0px;
}

#navBottom{
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 10%;
}
#f0{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 200 !important;
}

#f1{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  position: relative;
  left:82px;
  font-weight: 100 !important;
}

#f2{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  position: relative;
  left: 83px;
  font-weight: 120 !important;
  margin-top:-11px;
}

#ruLogo{
  vertical-align: text-bottom;

}

#foot1{
  background-color: #cc0033;
  color: #fff;


}
footer.page-footer a {
    color: #fff;
}

#footTitle{
  color: #fff;
}

.fontHere{
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 200 !important;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 0px solid #eeeeee;
}

#register{
  margin-left:45%;
}

#login{
  color: black;
  position: absolute;
  right: 9%;
  top: 10%;
}

#map{
  position: relative;
  left: 800%;
  margin: 50px;
}

.map-text{
 position: absolute;
 left:25%;
 width: 300px;
 margin: 50px;
}

.campuses{
  position: absolute;
  margin: 18%;
}

.campus-title{
  top: -27px;
}

.ride-form{
  background-color: white;
  margin:20px;
  padding:20px;
  position: relative;
  left: -4%;

}

#foot2{
    background-color: #cc0033;
    color: #fff;
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;

}

#title-left{
  position: relative;
  left: 30%;
}

#navbarwhite{
  background-color: white;
  border-color: white;
}

.selected-form{
    background-color: #f8f8f8;
    margin: 20px;
    padding: 20px;
    position: relative;
    left: 0%;
}

#menu-left{
  position:absolute;
  margin: 0px;
  right: 47%;
}

.a-black{
  color:black;
}

#cancelbtn{
  float: right;

}

#confirmbtn{
  float: right;
}

#driver-info{
  margin-top:20px;

  background-color: white;
}

#align-left{
  position: absolute;
  left: -25%;
  background-color: white;
}

.ridesFixed{
  background-size: cover;
  background-color: #f8f8f8;
  background-image: url("../images/livi.jpg");
  background-repeat: no-repeat;
}

.ridesFixed2{
  background-size: cover;
  background-color: #f8f8f8;
  background-image: url("../images/livi2.jpg");
  background-repeat: no-repeat;
}

.ridesFixed3{
  background-size: cover;
  background-color: #f8f8f8;
  background-image: url("../images/livi3.jpg");
  background-repeat: no-repeat;
}

#align-center{
  position: absolute;
  background-color: white;
  left: 9%;
}

#menuOptions{
  position: absolute;
  background-color: white;
  left: 18%;
  top: 23%;
  width: 21%;;
}

.absolute{
  position:absolute;

}

#accountFoot{
  background-color: #cc0033;
  color: #fff;
  width: 100%;
}

#postBackground{
  background-size: cover;
  background-color: #f8f8f8;
  background-repeat: repeat;
  background-image: url("../images/grey.jpg");
}

.shift{
  position: absolute;
  left: 6%;
}

#ridesAvailable{
  left: 44%;
bottom: 0;
position: relative;
}

#white{
  color:white;
}

#seatInput{
  display: block;
    width: 25%;
    height: 25px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

#conf_page{
  position: absolute;
  padding: 7px 5px 7px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#conf_page_1{
  position: relative;
    padding: 7px 5px 7px;
    border: 0;
    font-size: 12px;
    left: 24%;
    font-weight: bold;
    text-transform: uppercase;
}

#bring-left{
  left: 0;
  position: absolute;
}
#bring-left_1{
  left: 0;
  position: absolute;
  bottom: -362px;
}

#campuses{
  position:absolute;
  left: 90%;
  bottom: 5%;
}

.campus_pics{
  position:absolute;
  left:20%;
}

#shifty{
  position: relative;
    left: 72%;
    top: -50%;
}

#color-white{
  background-color: white;
}

#add_margin{
  margin-bottom: 10px;

}

#fixbuttons{
  border-width: -1px 1px 4px 1px;
  position: absolute;
  top: 84%;
  left: 28%;
}

#moveTo{
  position:absolute;
  left:53%;
  bottom: -166px;

}


#plow{
  margin-bottom:100px;
}
